<a href="https://colab.research.google.com/github/sinnara2021/AI/blob/main/1_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello')

hello

In [ ]:
a = 1
b =2
print(a+b)

3

In [ ]:
# 변수 사용법과 입출력 배우기

#예1 : var 1 이름으로 변수를 만들고 숫자 10 할당

var1 = 10

print ( 'var1: ' , var1)

var2 = 20
print('var2: ', var2)

var1:  10
var2:  20

In [ ]:
#다양한 연산자 사용
print ( 1 + 2 )
print ( var1 + var2 )
print (var2-var1)
print(var1*var2)
print(var1/var2)

3
30
10
200
0.5

In [ ]:
# % 연산자 ( 나머지 값 구하기 )사용
var5 = 3
var6 = 14
print('var6/var5 나머지 값: ', var6%var5)

var6/var5 나머지 값:  2

In [ ]:
#print() 함수
#출력문장 직접 쓰기
print('오늘도 굿모닝이지 말입니다~~')
print("오늘도 굿모닝이지 말입니다~~")  

# 큰따옴표나 작은따옴표나 처리결과는 같으나 웹크롤링.. html 코딩시... 큰따옴표 붙여넣거나 할때 웹코드랑 겹쳐지면서 사라짐..

str1 = '늘 굿모닝이지 김도훈 강사님.'
print(str1)

오늘도 굿모닝이지 말입니다~~
오늘도 굿모닝이지 말입니다~~
늘 굿모닝이지 김도훈 강사님.

In [ ]:
var1 = 100  
 # 아까 사용한 변수를 또 사용할 경우.. 파이썬은 인터프리터언어.. 한줄 코딩이라 가능은 하나....
 # 변수를 중복해서 쓸때.. 긴 코드 쓸때 변수가 중복되서 반영되는 값이 달라지는걸 조심은 해야 한다.

print('var1 변수에 있는 값은 바로' , var1 , '입니다.')

var1 변수에 있는 값은 바로 100 입니다.

In [ ]:
# format 방식 출력
bab = 5
print('김도훈 강사님 쉬는시간인데. %s 분 쉬어요.' %bab)

김도훈 강사님 쉬는시간인데. 5 분 쉬어요.

In [ ]:
up = 20
my = 10
print('도훈강사님 성적은 %s%%가 내렸는데 나는 %s%%나 올랐다^^ ' %(up,my) )

도훈강사님 성적은 20%가 내렸는데 나는 10%나 올랐다^^

In [ ]:
print('도훈 강사님 {}%가 내렸는데 나는 {}%씩 2배로 올랐다^^' .format(up, my))

도훈 강사님 20%가 내렸는데 나는 10%씩 2배로 올랐다^^

In [ ]:
print('도훈 강사님 {1}%가 내렸는데 나는 {0}%씩 2배로 올랐다^^' .format(up, my))

도훈 강사님 10%가 내렸는데 나는 20%씩 2배로 올랐다^^

In [ ]:
#여러개의 플레이스 홀드 사용 가능
name = '윤수경'
hobby = '커피마시기'
home = '거제'
str1 = '제 이름은 {}이고 취미는 {}이며 사는 지역은 {} 입니다.'

print( str1.format(name, hobby, home))

제 이름은 윤수경이고 취미는 커피마시기이며 사는 지역은 거제 입니다.

In [ ]:
# input 함수로 정보 입력받기
menu = input()

꽃등심

In [ ]:
print(menu)

꽃등심

In [ ]:
# 안내 멘트 함께 보기
menu_2=input('오늘 저녁에 머 먹을까?: ')

오늘 저녁에 머 먹을까?: 꽃등심 따따블

In [ ]:
print(menu_2)

꽃등심 따따블

In [ ]:
area_no = input('''
1. 서울  2.대전  3.광주  4.부산  5.경남
6. 경북  7.대구  8.전남  9.전북  10.제주
11. 거제도

위 지역중 검색을 원하는 지역의 번호를 입력하세요:

''')

1. 서울  2.대전  3.광주  4.부산  5.경남
6. 경북  7.대구  8.전남  9.전북  10.제주
11. 거제도

위 지역중 검색을 원하는 지역의 번호를 입력하세요:

11

In [ ]:
# input(), print() 활용
name = input('1.이름을 입력하세요: ')
hobby = input('2.취미를 입력하세요: ')

#기본 출력
print(name, '님의 취미는' , hobby , '입니다.')

#문자열 포맷팅
print('%s 님의 취미는 %s 입니다' %(name, hobby))

#플레이스 홀드
s = '{} 님의 취미는 {} 입니다.'
print(s.format(name, hobby))

1.이름을 입력하세요: 윤수경
2.취미를 입력하세요: 메이킹
윤수경 님의 취미는 메이킹 입니다.
윤수경 님의 취미는 메이킹 입니다
윤수경 님의 취미는 메이킹 입니다.

In [ ]:
a = input()
b = input()
print(a+b)

10
20
1020

In [ ]:
# 인티져(intger) 선언
a = int( input('첫 번째 숫자 입력: ') )
b = int(input('두 번째 숫자 입력: ') )
print(a+b)

첫 번째 숫자 입력: 10
두 번째 숫자 입력: 20
30

In [ ]:
# 인티져(intger) 선언
c = float( input('첫 번째 실수 입력: ') )
d = float( input('두 번째 실수 입력: ') )
print(c+d)

첫 번째 실수 입력: 5
두 번째 실수 입력: 6
11.0

In [ ]:
#숫자 타입에서 많이 사용되는 주요 함수
#1) round() - 반올림 함수

no1 = 3.45678
no2 = 3.56789
print('원래값: {}, 반올림 값: {}'. format(no1, round(no1)))
print('원래값: {}, 반올림 값: {}'. format(no2, round(no1)))

원래값: 3.45678, 반올림 값: 3
원래값: 3.56789, 반올림 값: 3

In [ ]:
#1) round() - 반올림 함수, 소수점 이하 자리수 지정
no1 =3
no2 = 5
print('반올림하기 전 원래값: ', no2/no1)
print('소수 첫째자리 반올림: ', round(no2/no1, 1))
print('소수 둘째자리 반올림: ', round(no2/no1, 2))

반올림하기 전 원래값:  1.6666666666666667
소수 첫째자리 반올림:  1.7
소수 둘째자리 반올림:  1.67

In [ ]:
# trunc() - 버림 함수
import math

no1 = 3
no2 = 5

print('버림하기 전 원래값: ' , no2/no1 )
print('소수 첫째자리까지 버림하기: ', math.trunc( no2/no1 ))

버림하기 전 원래값:  1.6666666666666667
소수 첫째자리까지 버림하기:  1

In [ ]:
# ceil()  - 큰 정수 찾기 함수
# 페이지수 계산에 많이 사용함.

cnt = int(input('총 몇 건의 데이터를 수집할까요?'))

# 한 페이지당 15건의 게시물이 있다고 할 경우
page_cnt = math.ceil( cnt/15 )
print('총 {} 페이지까지 데이터를 수집해야 합니다.' .format(page_cnt))

print( cnt/15 )

총 몇 건의 데이터를 수집할까요?100
총 7 페이지까지 데이터를 수집해야 합니다.
6.666666666666667

In [ ]:
# 작은 정수 찾기 - floor()
import math

no1=4.9
no2=4.1

print('원래값:{}, 적용값:{}' . format(no1 , math.floor(no1)))

# , 와 . 구분 잘 하기.. 웬수탱이들!!

원래값:4.9, 적용값:4

In [ ]:
#슬라이싱 예제, 요소넘버

str1= '파이썬완전쉽죠?'
print(str1)
print(str1[0])
print(str1[4])
print(str1[0:4])
print(str1[0:4+1])
print(str1[3:])
print(str1[:3])
print(str1[:3+1])

파이썬완전쉽죠?
파
전
파이썬완
파이썬완전
완전쉽죠?
파이썬
파이썬완

In [ ]:
#lover()함수 / upper() 함수 - 대소문자 변경 함수
#박스=함수=괄호


str2 = 'PyThoN' # 대소문자가 섞여 있음

print(str2.lower())
print(str2.upper())

python
PYTHON

In [ ]:
#lstrip() / rstrip() / strip() - 여백 없애기

str3='             <- 이 쪽 끝에 공백 있어요.'
str4='오른 쪽 끝에 공백 있어요.                       '
str5='       <-양쪽 끝에 공백 있어요->       '

print(str3.lstrip())
print(str4.rstrip())
print(str5.strip())

<- 이 쪽 끝에 공백 있어요.
오른 쪽 끝에 공백 있어요.
<-양쪽 끝에 공백 있어요->

In [ ]:
#replace() 
str6='새우깡도 해산물 인가요?'
print(str6)
print(str6.replace('새우깡','새우'))

새우깡도 해산물 인가요?
새우도 해산물 인가요?

In [ ]:
str6_2 = 'ㅋㅋㅋㅋㅋㅋ 아 재미있어 ㅋㅋㅋㅋㅋ 그 코드 연습 ㅋㅋㅋㅋㅋㅋ 아 웃긴다.'
print(str6_2.replace('ㅋ',''))
print(str6_2.replace('ㅋ','').strip())

 아 재미있어  그 코드 연습  아 웃긴다.
아 재미있어  그 코드 연습  아 웃긴다.

In [ ]:
#split() : 특정 단어 혹은 기호를 기준으로 데이터 분리

tel = '02-1234-5678'
print(tel.split('-'))
print(tel.split('-',1))

#웹크롤링시... 
url1='https://colab.research.google.com/drive/1m8_qA1vqOewOvt4ncY4ZLKBTXQ5sNSwZ?hl=ko#scrollTo=P3ZsNw36GvWY'
print(url1.split('/'))

['02', '1234', '5678']
['02', '1234-5678']
['https:', '', 'colab.research.google.com', 'drive', '1m8_qA1vqOewOvt4ncY4ZLKBTXQ5sNSwZ?hl=ko#scrollTo=P3ZsNw36GvWY']

In [ ]:
#len()
str1='파이썬 완전 좋아용'
str2=['파이썬','인공지능','윤수경코딩나라']

print(len(str1))
print(len(str2))

10
3

In [ ]:
print('='*80)
print('문자열로 연산하기 코드')
print('='*80)

================================================================================
문자열로 연산하기 코드
================================================================================

In [ ]:
hero = ['1986-10-21','홍길동','100']
print(hero)

['1986-10-21', '홍길동', '100']

In [ ]:
#append()/insert()
list2=['첫째','둘째','셋째']
list2.append('append로 추가한 것')
list2.insert(2,'insert로 추가한 것')
print(list2)

['첫째', '둘째', 'insert로 추가한 것', '셋째', 'append로 추가한 것']

In [ ]:
## https://colab.research.google.com/drive/1Bwvy_ajpP2RuqWzMKo0SJSd5WXFZFdsK?usp=sharing

In [ ]:
#del() / remove

print('삭제전목록:' , list2 )

del list2[2]
print('del로 삭제 후 목록: ', list2)

list2.remove('append로 추가한 것')
print('remove로 삭제 후 목록: ', list2)

삭제전목록: ['첫째', '둘째', 'insert로 추가한 것', '셋째', 'append로 추가한 것']
del로 삭제 후 목록:  ['첫째', '둘째', '셋째', 'append로 추가한 것']
remove로 삭제 후 목록:  ['첫째', '둘째', '셋째']

In [ ]:
#sort() / reverse()
# reverse는 역순으로 정렬됨.. 그래서 내림차순 하고 싶을땐. sort를 먼저하고 reverse 해야만함.
list3= [3,1,5,2,8,6]
list3.sort()
print('오름차순(기본)정렬: ', list3)

list3.reverse()
print('내림차순 정렬: ', list3)

list4=['banana','apple','cherry', 'Apple']
list4.sort()
print('영어정렬: ', list4)

list5=['홍길동','한가온','변재민', '강경민']
list5.sort()
print('한글정렬: ', list5)

오름차순(기본)정렬:  [1, 2, 3, 5, 6, 8]
내림차순 정렬:  [8, 6, 5, 3, 2, 1]
영어정렬:  ['Apple', 'apple', 'banana', 'cherry']
한글정렬:  ['강경민', '변재민', '한가온', '홍길동']