<a href="https://colab.research.google.com/github/sinnara2021/AI/blob/main/1_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print('hello')

hello

In [7]:
a = 1
b =2
print(a+b)

3

In [12]:
# 변수 사용법과 입출력 배우기

#예1 : var 1 이름으로 변수를 만들고 숫자 10 할당

var1 = 10

print ( 'var1: ' , var1)

var2 = 20
print('var2: ', var2)

var1:  10
var2:  20

In [16]:
#다양한 연산자 사용
print ( 1 + 2 )
print ( var1 + var2 )
print (var2-var1)
print(var1*var2)
print(var1/var2)

3
30
10
200
0.5

In [18]:
# % 연산자 ( 나머지 값 구하기 )사용
var5 = 3
var6 = 14
print('var6/var5 나머지 값: ', var6%var5)

var6/var5 나머지 값:  2

In [20]:
#print() 함수
#출력문장 직접 쓰기
print('오늘도 굿모닝이지 말입니다~~')
print("오늘도 굿모닝이지 말입니다~~")  

# 큰따옴표나 작은따옴표나 처리결과는 같으나 웹크롤링.. html 코딩시... 큰따옴표 붙여넣거나 할때 웹코드랑 겹쳐지면서 사라짐..

str1 = '늘 굿모닝이지 김도훈 강사님.'
print(str1)

오늘도 굿모닝이지 말입니다~~
오늘도 굿모닝이지 말입니다~~
늘 굿모닝이지 김도훈 강사님.

In [22]:
var1 = 100  
 # 아까 사용한 변수를 또 사용할 경우.. 파이썬은 인터프리터언어.. 한줄 코딩이라 가능은 하나....
 # 변수를 중복해서 쓸때.. 긴 코드 쓸때 변수가 중복되서 반영되는 값이 달라지는걸 조심은 해야 한다.

print('var1 변수에 있는 값은 바로' , var1 , '입니다.')

var1 변수에 있는 값은 바로 100 입니다.

In [23]:
# format 방식 출력
bab = 5
print('김도훈 강사님 쉬는시간인데. %s 분 쉬어요.' %bab)

김도훈 강사님 쉬는시간인데. 5 분 쉬어요.